<ul>
  <li>
    <strong>A Stable Marriage Requires a Shared Residence with Low Contention and Mutual Complementarity</strong><br>
    <em>JIAXIN LIU (The Ohio State University), RUBAO LEE (Freelance), CATHY XIA (The Ohio State University), XIAODONG ZHANG (The Ohio State University)</em>
  </li>
  <li>
    <strong>Accelerating DFS-based Subgraph Matching on GPU via Reusing Intersection</strong><br>
    <em>Chen Chen (National University of Defense Technology), Shanzhi Gu (National University of Defense Technology), Junsheng Chang (National University of Defense Technology), Li Shen (National University of Defense Technology)</em>
  </li>
  <li>
    <strong>ANG: Accelerating NFA processing on GPUs via Exploring Multi-Level Fine-Grained Parallelism</strong><br>
    <em>Yuguang Wang (Michigan Technological University), Yunmo Zhang (City University of Hong Kong), Zeyu Liu (City University of Hong Kong), Junqiao Qiu (City University of Hong Kong), Zhenlin Wang (Michigan Tech)</em>
  </li>
  <li>
    <strong>Automatic Code-Generation for Accelerating Structured-Mesh-Based Explicit Numerical Solvers on FPGAs</strong><br>
    <em>Beniel Thileepan (Department of Computer Science, University of Warwick), Suhaib A Fahmy (King Abdullah University of Science and Technology (KAUST)), Gihan R Mudalige (Department of Computer Science, University of Warwick)</em>
  </li>
  <li>
    <strong>Automatic Generation of Actor-based Parallelism from Shared Memory Parallel Programs</strong><br>
    <em>Jun Shirako (Georgia Institute of Technology), Vivek Sarkar (Georgia Institute of Technology)</em>
  </li>
  <li>
    <strong>Bancroft: Genomics Acceleration Beyond On-Device Memory</strong><br>
    <em>Se-Min Lim (University of California, Irvine), Seongyoung Kang (University of California, Irvine), Sang-Woo Jun (University of California, Irvine)</em>
  </li>
  <li>
    <strong>Bit-Level Semantics: Scalable RAG Retrieval with Neurosymbolic Hyperdimensional Computing</strong><br>
    <em>Hyunsei Lee (DGIST), Shinhyoung Jang (DGIST), Jaewoo Gwak (DGIST), Jongho Park (DGIST), Yeseong Kim (DGIST)</em>
  </li>
  <li>
    <strong>Cache Miss Curve Analysis via Cardinality Domain</strong><br>
    <em>Eishi Arima (Technical University of Munich), Martin Schulz (Technical University of Munich)</em>
  </li>
  <li>
    <strong>Conversational Auto-Scheduling: An Experimental Study of LLM-Based Loop Optimization</strong><br>
    <em>Massinissa Merouani (New York University Abu Dhabi), Islem Kara Bernou (New York University Abu Dhabi), Riyadh Baghdadi (New York University Abu Dhabi)</em>
  </li>
  <li>
    <strong>CoroAMU: Unleashing Memory-Driven Coroutines through Latency-Aware Decoupled Operations</strong><br>
    <em>Zhuolun Jiang (Institute of Computing Technology, Chinese Academy of Sciences), Songyue Wang (Institute of Computing Technology, Chinese Academy of Sciences), Xiaokun Pei (Institute of Computing Technology, Chinese Academy of Sciences), Tianyue Lu (Institute of Computing Technology, Chinese Academy of Sciences), Mingyu Chen (Institute of Computing Technology, Chinese Academy of Sciences)</em>
  </li>
  <li>
    <strong>CPC: Coordinated Page Cache for Serverless Computing</strong><br>
    <em>Keun Soo Lim (Seoul National University), Yunjay Hong (Seoul National University), Jongheon Jeong (Seoul National University), Sam Son (UC Berkeley), Donguk Kim (Seoul National University), Yeonhong Park (Seoul National University), Jae W. Lee (Seoul National University), Jinkyu Jeong (Yonsei University)</em>
  </li>
  <li>
    <strong>DMO-DB: Mitigating the Data Movement Bottlenecks of GPU-Accelerated Relational OLAP</strong><br>
    <em>Chaemin Lim (Yonsei University), Suhyun Lee (Yonsei University), Jinwoo Choi (Yonsei University), Joonsung Kim (Sungkyunkwan University), Jinho Lee (Seoul National University), Youngsok Kim (Yonsei University)</em>
  </li>
  <li>
    <strong>Doppeladler: Adaptive Tensor Parallelism for Latency-Critical LLM Deployment on CPU-GPU Integrated End-User Device</strong><br>
    <em>Jiazhi Jiang (Sun Yat-sen University), Xiao Liu (Sun Yat-sen University), Jiangsu Du (Sun Yat-sen University), Dan Huang (Sun Yat-sen University), Yutong Lu (Sun Yat-sen University)</em>
  </li>
  <li>
    <strong>EARTH: Efficient Architecture for RISC-V Vector Memory Access</strong><br>
    <em>Hongyi Guan (Tsinghua University), Yichuan Gao (Intel Labs China), Chenlu Miao (Intel Labs China), Haoyang Wu (Intel Labs China), Hang Zhu (Independent Researcher), Mingfeng Lin (Shenzhen University), Huayue Liang (Intel Labs China)</em>
  </li>
  <li>
    <strong>Energy-Efficient Acceleration of Hash-Based Post-Quantum Cryptographic Schemes on Embedded Spatial Architectures</strong><br>
    <em>Yanze Wu (George Mason University), Md Tanvir Arafin (George Mason University)</em>
  </li>
  <li>
    <strong>Exploring Memory Tiering Systems in the CXL Era via FPGA-based Emulation and Device-Side Management</strong><br>
    <em>Yiqi Chen (Peking University), Xiping Dong (Peking University), Zhe Zhou (Peking University), Zhao Wang (Peking University), Jie Zhang (Peking University), Guangyu Sun (Peking University)</em>
  </li>
  <li>
    <strong>Fine-Grained Fusion: The Missing Piece in Area-Efficient State Space Model Acceleration</strong><br>
    <em>Robin Geens (MICAS (KU Leuven)), Arne Symons (MICAS (KU Leuven)), Marian Verhelst (MICAS (KU Leuven))</em>
  </li>
  <li>
    <strong>FLASH: An Abstract Machine for Modeling Fully Homomorphic Encryption Accelerators</strong><br>
    <em>Alireza Tabatabaeian (Simon Fraser University), Arrvindh Shriraman (Simon Fraser University)</em>
  </li>
  <li>
    <strong>Generating Two-Level, GPU-Aware Mappings for Distributed Tensor Computations</strong><br>
    <em>Botao Wu (The Ohio State University), Martin Kong (The Ohio State University)</em>
  </li>
  <li>
    <strong>GPU Stream-Aware Communication for Effective Pipelining</strong><br>
    <em>Naveen Namashivayam (University of Minnesota at Twin Cities), Krishna Kandalla (Hewlett Packard Enterprise), Pen-Chung Yew (University of Minnesota at Twin Cities), James B White III (Hewlett Packard Enterprise), Larry Kaplan (Hewlett Packard Enterprise), Mark Pagel (Hewlett Packard Enterprise)</em>
  </li>
  <li>
    <strong>Guess, Measure &amp; Edit: Using Lowering to Lift Tensor Code</strong><br>
    <em>José Wesley De Souza Magalhães (Universtiy of Edinburgh), Jackson Woodruff (Universtiy of Edinburgh), Jordi Armengol-Estapé (Universtiy of Edinburgh), Alexander Brauckmann (Universtiy of Edinburgh), Luc Jaulmes (Universtiy of Edinburgh), Elizabeth Polgreen (Universtiy of Edinburgh), Michael O&#x27;Boyle (University of Edinburgh)</em>
  </li>
  <li>
    <strong>Hera: A Heterogeneity-Aware Multi-Tenant Inference Server for Personalized Recommendations</strong><br>
    <em>Yujeong Choi (Google), John Kim (KAIST), Minsoo Rhu (KAIST)</em>
  </li>
  <li>
    <strong>LibraPIM: Dynamic Load Rebalancing to Maximize Utilization in PIM-Assisted LLM Inference Systems</strong><br>
    <em>Hyeongjun Cho (Sungkyunkwan University), Yoonho Jang (Sungkyunkwan University), Hyungi Kim (Sungkyunkwan University), Seongwook Kim (Sungkyunkwan University), Keewon Kwon (Sungkyunkwan University), Gwangsun Kim (POSTECH), Seokin Hong (Sungkyunkwan University)</em>
  </li>
  <li>
    <strong>LOOPer: A Learned Automatic Code Optimizer For Polyhedral Compilers</strong><br>
    <em>Massinissa Merouani (New York University Abu Dhabi), Afif Boudaoud (New York University Abu Dhabi), Iheb Nassim Aouadj (New York University Abu Dhabi), Nassim Tchoulak (Ecole Nationale Supérieure d&#x27;Informatique), Islem Kara Bernou (Ecole Nationale Supérieure d&#x27;Informatique), Hamza Benyamina (New York University Abu Dhabi), Fatima Benbouzid-Si Tayeb (École nationale supérieure d&#x27;informatique), Karima Benatchba (Ecole Nationale Supérieure d&#x27;Informatique), Hugh Leather (Meta), Riyadh Baghdadi (New York University Abu Dhabi)</em>
  </li>
  <li>
    <strong>Multiway Merge Partitioning for Sparse-Sparse Matrix Multiplication on GPUs</strong><br>
    <em>Eric Lorimer (Georgia Institute of Technology), Ruobing Han (Georgia Institute of Technology), Sung Ha Kang (Georgia Institute of Technology), Hyesoon Kim (Georgia Institute of Technology)</em>
  </li>
  <li>
    <strong>Optimize Winograd Convolution for a Novel MIMD Many-core Architecture PEZY-SC3s</strong><br>
    <em>Yi Zhou (National University of Defense Technology), Qinglin Wang (National University of Defense Technology), Lian Wang (Shanxi Supercomputing Center), Zhiyan Liu (Shanxi Supercomputing Center), Bingwei Wang (Shanxi Supercomputing Center), Feiming Liu (Shanxi Supercomputing Center), Xiangdong Pei (Shanxi Supercomputing Center), Jie Liu (National University of Defense Technology)</em>
  </li>
  <li>
    <strong>Optimizing 3D Gaussian Splattering for Mobile GPUs</strong><br>
    <em>Md Musfiqur Rahman Sanim (University of Georgia), Zhihao Shu (University of Georgia), Bahram Afsharmanesh (University of Georgia), AmirAli Mirian (University of Georgia), Jiexiong Guan (William &amp; Mary), Wei Niu (University of Georgia), Bin Ren (William &amp; Mary), Gagan Agrawal (University of Georgia)</em>
  </li>
  <li>
    <strong>Salient Store: Enabling Smart Storage for Continuous Learning Edge Servers</strong><br>
    <em>Cyan Subhra Mishra (The Pennsylvania State University), Deeksha Chaudhary (The Pennsylvania State University), Mahmut T Kandemir (The Pennsylvania State University), Chita Das (The Pennsylvania State University)</em>
  </li>
  <li>
    <strong>Scalable Processing-Near-Memory for 1M-Token LLM Inference: CXL-Enabled KV-Cache Management Beyond GPU Limits</strong><br>
    <em>Dowon Kim (Hanyang University), Minjae Lee (Hanyang University), Janghyeon Kim (Hanyang University), HyuckSung KWON (Hanyang University), Hyeonggyu Jeong (Hanyang University), Sang-Soo Park (Samsung Electronics), Minyong Yoon (Samsung Electronics), Si-Dong Roh (Samsung Electronics), Jinin So (Samsung Electronics), Jungwook Choi (Hanyang University), Yongsuk Kwon (Samsung Electronics)</em>
  </li>
  <li>
    <strong>ScaleMoE: A Fast and Scalable Distributed Training Framework for Large-Scale Mixture-of-Experts Models</strong><br>
    <em>Seohong Choi (Sungkyunkwan University), Huize Hong (Sungkyunkwan University), Tae Hee Han (Sungkyunkwan University), Joonsung Kim (Sungkyunkwan University)</em>
  </li>
  <li>
    <strong>SCREME: A Scalable Framework for Resilient Memory Design</strong><br>
    <em>Fan Li (University of Central Florida), Mimi Xie (University of Texas at San Antonio), Yanan Guo (University of Rochester), Huize Li (University of Central Florida), Xin Xin (University of Central Florida)</em>
  </li>
  <li>
    <strong>SPipe: Hybrid GPU and CPU Pipeline for Training LLMs under Memory Pressure</strong><br>
    <em>Junyeol Ryu (Seoul National University), Yujin Jeong (Seoul National University), Daeyoung Park (Seoul National University), Jinpyo Kim (Seoul National University), Heehoon Kim (Seoul National University), Jaejin Lee (Seoul National University)</em>
  </li>
  <li>
    <strong>Squire: A General-Purpose Accelerator to Exploit Fine-Grain Parallelism on Dependency-Bound Kernels</strong><br>
    <em>Rubén Langarita (Barcelona Supercomputing Center), Pablo Ibáñez-Marín (Universidad de Zaragoza), Jesús Alastruey-Benedé (Universidad de Zaragoza), Miquel Moreto (UPC/BSC), Santiago Marco-Sola (Universitat Politècnica de Catalunya - Barcelona Supercomputing Center), Adrià Armejach (Barcelona Supercomputing Center)</em>
  </li>
  <li>
    <strong>TPE: XPU-Point: Simulator-Agnostic Sample Selection Methodology for Heterogeneous CPU-GPU Applications</strong><br>
    <em>Alen Sabu (Arm), Harish Patil (Intel), Wim Heirman (Intel), Changxi Liu (National University of Singapore), Trevor E. Carlson (National University of Singapore)</em>
  </li>
</ul>
