
<header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
    <a href="{{ site.baseUrl }}/index" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
        <img class="bi me-2" height="32" src="{{ site.baseUrl }}/images/pact-logo.png">
        <span class="fs-4">PACT 2025</span>
        &ensp;
        <span class="fs-6 text-muted">{{ site.data.vars.conf_dates }}</span>
    </a>

    <ul class="nav nav-pills">
        <li class="nav-item">
            <a href="{{ site.baseUrl }}/index" class="nav-link {% if page.id == 'home' %} active {% endif %}" aria-current="page">Home</a>
        </li>

        <li class="nav-item">
            <a href="{{ site.baseUrl }}/submit" class="nav-link {% if page.id == 'submit' %} active {% endif %}">Submit</a>
        </li>

        <li class="nav-item">
            <a href="{{ site.baseUrl }}/ae" class="nav-link {% if page.id == 'AE' %} active {% endif %}">AE</a>
        </li> 

        <li class="nav-item">
            <a href="{{ site.baseUrl }}/attend" class="nav-link {% if page.id == 'attend' %} active {% endif %}">Attend</a>
        </li>

        <li class="nav-item">
            <a href="{{ site.baseUrl }}/program" class="nav-link {% if page.id == 'program' %} active {% endif %}">Program</a>
        </li>

        <li class="nav-item">
            <a href="{{ site.baseUrl }}/workshops" class="nav-link {% if page.id == 'workshops' %} active {% endif %}">Workshops/Tutorials</a>
        </li>

        <li class="nav-item">
            <a href="{{ site.baseUrl }}/src" class="nav-link {% if page.id == 'src' %} active {% endif %}">ACM SRC</a>
        </li>

        <li class="nav-item">
            <a href="{{ site.baseUrl }}/sponsoring" class="nav-link {% if page.id == 'sponsoring' %} active {% endif %}">Sponsoring</a>
        </li>

        <li class="nav-item">
            <a href="{{ site.baseUrl }}/organization" class="nav-link {% if page.id == 'organization' %} active {% endif %}">Organization</a>
        </li>
    </ul>
</header>
