<h1>News</h1>

<ul>

    <li>
        <b>October 16, 2024: </b><br/>
        Congratulations to the ACM SRC winners! <br/>
Graduate Student Category: <br/>
        <ul>
            <li>
1st Place: Nurlan Nazaraliyev  <br/>
Project Title: "LOSS: Lightweight-OS-Support for GPUs"  <br/>
University of California, Riverside <br/>
                </li>
            <li>
2nd Place: Ravan Nazaraliyev  <br/>
Project Title: "Stealth within Security: Exploiting RFM Rowhammer Mitigation for GPU Attacks"  <br/>
University of California, Riverside <br/>
                </li>
            <li>
3rd Place: Nika Mansouri Ghiasi  <br/>
Project Title: "Understanding and Modeling the Performance Landscape of Ultra-Dense 3D Memory Systems"  <br/>
ETH Zurich <br/></li>
            </ul>
<br/>
        Undergraduate Student Category: <br/>
        <ul>

            <li>
1st Place: Sophia Fu  <br/>
Project Title: "Accelerating High-Precision Number Theoretic Transforms using Intel AVX-512"  <br/>
Carnegie Mellon University <br/>
                </li>
            <li>
2nd Place: Ishita Mehta  <br/>
Project Title: "Evaluating Rowhammer Impact on Neural Network Accuracy"  <br/>
University of Colorado Boulder <br/>
                </li>
            </ul>
    </li>
    
    <li>
        <b>September 17, 2024:</b>
        The early registration deadline has been extended to September 23, 2024. 
    </li>
    
    <li>
        <b>August 24, 2024:</b>
        The <a href="program"> program </a> for PACT 2024 is now available. 
    </li>

    <li>
        <b>August 22, 2024:</b>
        <a href="attend">Registration</a> for PACT 2024 is now open.
    </li>



<!--
  <li>
        <p>
            <strong>October 16, 2022</strong>
            And that's a wrap! PACT 2023 concluded on Wednesday.
            We hope you enjoyed the conference.
        </p>
        <p>As part of PACT 2022, the following contributions received awards:
        </p>
        <ul>
            <li>
                <strong>Best Paper:</strong>
                Slice-and-Forge: Making Better Use of Caches for Graph
                Convolutional Network Accelerators  (#520)
                <em>M. Yoo, J. Song, H. Lee, J. Lee, N. Kim, Y. Kim, J.  Lee</em>
                (selected by the <a href="organization.html#best-paper-committee">best paper selection committee</a>)
            </li>
            <li>
                <strong>ACM Student Research Competition (SRC), Graduate Division</strong>
                (selected by the <a href="src.html#judges">SRC judges</a> after participant
                selection by the <a href="src.html#committee">SRC committee</a>):
                <ul>
                    <li>
                        <strong>1st prize:</strong>
                        Automatically Translating Non-Affine Codes, <em>Avery Laird</em> (U. Toronto)
                    </li>
                    <li>
                        <strong>2nd prize:</strong>
                        A GPU Acceleration Flow for Parallel RTL Simulation and Hardware Testing, <em>Dian-Lun Lin</em> (U. Utah)
                    </li>
                    <li>
                        <strong>3rd prize:</strong>
                        SuperB-NoC: A Superconducting Buffering NoC, <em>Rhys Gretsch</em> (UC Santa Barbara)
                    </li>
                </ul>
            </li>
            <li>
                <strong>ACM Student Research Competition (SRC), Undergraduate Division</strong>
                (selected by the <a href="src.html#judges">SRC judges</a> after participant
                selection by the <a href="src.html#committee">SRC committee</a>):
                <ul>
                    <li>
                        <strong>1st prize:</strong>
                        Understanding Correlated Error Events in Quantum Computers, <em>Arpan Gupta</em> (Rutgers U.)
                    </li>
                    <li>
                        <strong>2nd prize:</strong>
                        Independent Tenancy Model, <em>Boyang Wang</em> (U. Rochester)
                    </li>
                </ul>
            </li>
        </ul>
    </li>
    <li>
        <p>
            <strong>October 10, 2022</strong>
            PACT 2022 papers are now available for
            <a href="https://ssl.tiker.net/nextcloud/s/SRTCfZyD4g9zoiA">download</a>.
            To access the papers repository, you will need a password that was
            posted throughout the venue.
        </p>
    </li>
    <li>
        <strong>October 9, 2022</strong>
        Please see our <a href="attend.html#arrival">arrival information page</a>
        for important information on the Chicago Marathon as it pertains to PACT.
    </li>
    <li>
        <strong>October 8, 2022</strong>
        <strong>PACT 2022 is here!</strong>
        Tutorials start today at 2:15pm
        (<em>note the change</em> compared to earlier versions of the <a href="tutorials.html">posted program</a>).
        Please see <a href="attend.html#arrival">our attendance page</a> for important
        <strong>arrival information</strong>.
    </li>
    <li>
        <strong>September 24, 2022</strong>
        Applications for <a href="attend.html#travel-awards">Student Travel Awards</a>
        are now available.
    </li>
    <li>
        <strong>September 12, 2022</strong>
        The <a href="program.html">technical program</a> for the main conference has been announced.
        <strong>Register now!</strong>
    </li>
    <li>
        <strong>September 5, 2022</strong>
        Registration for PACT 2022 is now open.
        See the <a href="attend.html">attendance information page</a> for details and to register.
    </li>
    <li>
        <strong>August 24, 2022:</strong>
        Given that October 9 is the day of the Chicago Marathon, hotel bookings may be expensive.
        See the <a href="attend.html">attendance page</a> for advice on booking cost.
    </li>
    <li>
        <strong>August 17, 2022:</strong>
        Submission for the ACM Student Research Competition (SRC) at PACT is now open.
        See the <a href="src.html">SRC page</a> for further information.
    </li>
    <li>
        <strong>August 16, 2022:</strong>
        We are excited to announce the tutorials and workshops that will precede the main conference at PACT this year.
        See the <a href="program.html">program</a> for details.
    </li>
    <li>
        <strong>August 16, 2022:</strong>
        We are excited to announce the keynote speakers who will headline the technical program for PACT each day. See the
        <a href="program.html">program</a> for details.
    </li>
    <li>
        <strong>August 14, 2022:</strong>
        The <a href="./src.html">ACM Student Research Competition (SRC)</a> returns to PACT 2022, and invites students to submit
        their work (abstracts due September 1).
    </li>
    <li>
        <strong>August 5, 2022:</strong> <a href="https://publish.illinois.edu/lcpc2022atillinois/">LCPC 2022</a>
        will take place immediately after PACT 2022 in the same venue.
    </li>
    <li>
        <strong>August 4, 2022:</strong>
        We are happy to share that the venue for PACT 2022 will be
        the <a href="https://www.google.com/maps/place/Discovery+Partners+Institute/@41.8789193,-87.63723,17z/data=!3m2!4b1!5s0x880e2cbf30a78eff:0x92b256adcca279a9!4m5!3m4!1s0x880e2df0af4a5f21:0xd66f11fe7d07385d!8m2!3d41.8789193!4d-87.63723">Discovery Partners Institute</a>
        in Chicago, with some sessions in the <a href="https://illinicenter.illinois.edu/">Illini Center</a>,
        both at 200 S. Wacker Drive, Chicago.
    </li>
 -->

</ul>
