<h1>News</h1>

<ul>

     <li>
        <b>November 6, 2025:</b>
        Contratuations to the ACM SRC winners!<br>
        <br>
        <u>Undergraduate Student Category</u><br>
        <ul>
          <li>1<sup>st</sup> Place: Armaan Hajarizadeh (University of Oregon)<br>
            Addressing Client Heterogeneity in FedProto with Precomputed Global Prototypes
          </li>
          <li>2<sup>nd</sup> Place: Dayoung Lee (Seoul National University of Science and Technology)<br>
               A Pipelined Multi-Bank GEMM Accelerator for Memory Bottleneck Mitigation
          </li>
        </ul>
        <br>
        <u>Graduate Student Category</u><br>
        <ul>
          <li>1<sup>st</sup> Place: Ravan Nazaraliyev (University of California, Riverside)<br>
            SCRUB: Subarray-Level Counter Update and Bank-Level Recovery Isolation for Efficient PRAC Rowhammer Mitigation
          </li>
          <li>2<sup>nd</sup> Place: Nurlan Nazaraliyev (University of California, Riverside)<br>
            KiteVM: Decoupled Prefetching and Adaptive cgroup Limits for Disaggregated Memory
          </li>
          <li>3<sup>rd</sup> Place: Yanze Wu (George Mason University)<br>
            Accelerating Hash-based Cryptography on modern Reconfigurable Architecture
          </li>
        </ul>
        <br>
        <img src="../images/acmsrc.jpg" width="95%" border="1px"><br>
        <br>
    </li>

     <li>
        <b>November 2, 2025:</b>
        Join the PACT 2025 <a href="https://discord.gg/7ph2xQT9PS">Discord server</a> to get the latest announcements, coordinate Uber/Lyft rides, and more!<br>
        <br>
    </li>
    
    <li>
        <b>November 1, 2025:</b>
        The <a href="program">Proceedings</a> for PACT 2025 are now online.<br>
        Access credentials will be shared at the conference location.<br>
        <br>
    </li>

    <li>
        <b>October 25, 2025:</b>
        The <a href="program">Program</a> for PACT 2025 is now online.<br>
        <br>
    </li>

    <li>
        <b>August 2, 2025:</b>
        <a href="attend">Registration</a> for PACT 2025 is now open. Early registration deadline is September 23, 2025.<br>
        <br>
    </li>



</ul>
