  <td>
    <b>Session 6: Edge & Mobile AI Systems</b>
    <br>
    <ul>
      <li>Hera: A Heterogeneity-Aware Multi-Tenant Inference Server for Personalized Recommendations<br>
          <i>Yujeong Choi (Google), John Kim (KAIST), and Minsoo Rhu (KAIST)</i>
      </li>
      <li>Salient Store: Enabling Smart Storage for Continuous Learning Edge Servers<br>
          <i>Cyan Subhra Mishra (The Pennsylvania State University), Deeksha Chaudhary (The Pennsylvania State University), Mahmut T Kandemir (The Pennsylvania State University), and Chita Das (The Pennsylvania State University)</i>
      </li>
      <li>Bit-Level Semantics: Scalable RAG Retrieval with Neurosymbolic Hyperdimensional Computing<br>
          <i>Hyunsei Lee (DGIST), Shinhyoung Jang (DGIST), Jaewoo Gwak (DGIST), Jongho Park (DGIST), and Yeseong Kim (DGIST)</i>
      </li>
      <li>Optimizing 3D Gaussian Splattering for Mobile GPUs<br>
          <i>Md Musfiqur Rahman Sanim (University of Georgia), Zhihao Shu (University of Georgia), Bahram Afsharmanesh (University of Georgia), AmirAli Mirian (University of Georgia), Jiexiong Guan (William & Mary), Wei Niu (University of Georgia), Bin Ren (William & Mary), and Gagan Agrawal (University of Georgia)</i>
      </li>
    </ul>
  </td>
