  <td>
    <b>Reception and Posters</b>
    <!--
    <br>
    <ul>
      <li>DaPPA: A Data-Parallel Programming Framework for Real-World Processing-in-Memory Architectures<br>
          <i>Geraldo Francisco de Oliveira Junior (ETH Zurich), Alain Kohli (ETH Zurich), David Novo (LIRMM, Univ Montpellier, CNRS), Ataberk Olgun (ETH Zurich), Abdullah Giray Yaglikci (ETH Zurich), Saugata Ghose (University of Illinois Urbana-Champaign), Juan Gomez Luna (NVIDIA), and Onur Mutlu (ETH Zurich)</i>
      </li>
      <li>HeteroSched: Co-Optimizing Scheduling and Parallelization for Deep Learning Workloads for Heterogeneous GPU Clusters<br>
          <i>Bahram Afsharmahesh (University of Georgia), Md Musfiqur Rahman Sanim (University of Georgia), AmirAli Mirian (University of Georgia), and Gagan Agrawal (University of Georgia)</i>
      </li>
      <li>IRISX: A Dynamic Trade-off System for Performance Portability on Multi-Accelerator Platforms<br>
          <i>Sanil Rao (Carnegie Mellon University), Mohammad Alaul Haque Monil (Oak Ridge National Laboratory), Het Mankad (Oak Ridge National Laboratory), Narasinga Rao Miniskar (Oak Ridge National Laboratory), Keita Teranishi (Oak Ridge National Laboratory), Jeffrey Vetter (Oak Ridge National Laboratory), and Franz Franchetti (Carnegie Mellon University)</i>
      </li>
      <li>PIMAP: Characterizing a Real Processing-in-Memory System for Analytical Data Processing<br>
          <i>Manos Frouzakis (ETH Zurich), Juan Gomez Luna (NVIDIA), Geraldo Francisco de Oliveira Junior (ETH Zurich), Mohammad Sadrosadati (ETH Zurich), and Onur Mutlu (ETH Zurich)</i>
      </li>
      <li>Value-Aware Scheduler for Energy Reduction<br>
          <i>Haiyue Ma (Princeton University), Kaifeng Xu (Princeton University), and David Wentzlaff (Princeton University)</i>
      </li>
    </ul>
    -->
  </td>

