  <td>
    <b>Session 3: <a href="https://conferences.computer.org/pactpub25/#!/toc/0#GPUAlgorithmsforIrregularWorkloads&amp;OLAP" target="_blank">GPU Algorithms for Irregular Workloads & OLAP</a></b>
    <br>
    <b>Chair:</b> Ruobing Han, Georgia Institute of Technology<br>
    <ul>
      <li><a href="https://conferences.computer.org/pactpub25/pdfs/PACT2025-3gKGRwA9U4f6t0U4gWpYze/829500a135/829500a135.pdf" target="_blank">ANG: Accelerating NFA processing on GPUs via Exploring Multi-Level Fine-Grained Parallelism</a><br>
          <i>Yuguang Wang (Michigan Technological University), Yunmo Zhang (City University of Hong Kong), Zeyu Liu (City University of Hong Kong), Junqiao Qiu (City University of Hong Kong), and Zhenlin Wang (Michigan Tech)</i>
      </li>
      <li><a href="https://conferences.computer.org/pactpub25/pdfs/PACT2025-3gKGRwA9U4f6t0U4gWpYze/829500a148/829500a148.pdf" target="_blank">Accelerating DFS-based Subgraph Matching on GPU via Reusing Intersection</a><br>
          <i>Chen Chen (National University of Defense Technology), Shanzhi Gu (National University of Defense Technology), Junsheng Chang (National University of Defense Technology), and Li Shen (National University of Defense Technology)</i>
      </li>
      <li><a href="https://conferences.computer.org/pactpub25/pdfs/PACT2025-3gKGRwA9U4f6t0U4gWpYze/829500a160/829500a160.pdf" target="_blank">Multiway Merge Partitioning for Sparse-Sparse Matrix Multiplication on GPUs</a><br>
          <i>Eric Lorimer (Georgia Institute of Technology), Ruobing Han (Georgia Institute of Technology), Sung Ha Kang (Georgia Institute of Technology), and Hyesoon Kim (Georgia Institute of Technology)</i>
      </li>
      <li><a href="https://conferences.computer.org/pactpub25/pdfs/PACT2025-3gKGRwA9U4f6t0U4gWpYze/829500a172/829500a172.pdf" target="_blank">DMO-DB: Mitigating the Data Movement Bottlenecks of GPU-Accelerated Relational OLAP</a><br>
          <i>Chaemin Lim (Yonsei University), Suhyun Lee (Yonsei University), Jinwoo Choi (Yonsei University), Joonsung Kim (Sungkyunkwan University), Jinho Lee (Seoul National University), and Youngsok Kim (Yonsei University)</i>
      </li>
    </ul>
  </td>
