  <td>
    <b>Session 7: Communication, Profiling & Mapping across CPU–GPU Clusters</b>
    <br>
    <ul>
      <li>Generating Two-Level, GPU-Aware Mappings for Distributed Tensor Computations<br>
          <i>Botao Wu (The Ohio State University) and Martin Kong (The Ohio State University)</i>
      </li>
      <li>GPU Stream-Aware Communication for Effective Pipelining<br>
          <i>Naveen Namashivayam (University of Minnesota at Twin Cities), Krishna Kandalla (Hewlett Packard Enterprise), Pen-Chung Yew (University of Minnesota at Twin Cities), James B White III (Hewlett Packard Enterprise), Larry Kaplan (Hewlett Packard Enterprise), and Mark Pagel (Hewlett Packard Enterprise)</i>
      </li>
      <li>TPE: XPU-Point: Simulator-Agnostic Sample Selection Methodology for Heterogeneous CPU-GPU Applications<br>
          <i>Alen Sabu (Arm), Harish Patil (Intel), Wim Heirman (Intel), Changxi Liu (National University of Singapore), and Trevor E. Carlson (National University of Singapore)</i>
      </li>
    </ul>
  </td>
