  <td>
    <b>Session 4: Compilers & Program Generation</b>
    <br>
    <ul>
      <li>Agentic Auto-Scheduling: An Experimental Study of LLM-Based Loop Optimization<br>
          <i>Massinissa Merouani (New York University Abu Dhabi), Islem Kara Bernou (New York University Abu Dhabi), and Riyadh Baghdadi (New York University Abu Dhabi)</i>
      </li>
      <li>LOOPer: A Learned Automatic Code Optimizer For Polyhedral Compilers<br>
          <i>Massinissa Merouani (New York University Abu Dhabi), Afif Boudaoud (New York University Abu Dhabi), Iheb Nassim Aouadj (New York University Abu Dhabi), Nassim Tchoulak (Ecole Nationale Supérieure d'Informatique), Islem Kara Bernou (Ecole Nationale Supérieure d'Informatique), Hamza Benyamina (New York University Abu Dhabi), Fatima Benbouzid-Si Tayeb (École nationale supérieure d'informatique), Karima Benatchba (Ecole Nationale Supérieure d'Informatique), Hugh Leather (Meta), and Riyadh Baghdadi (New York University Abu Dhabi)</i>
      </li>
      <li>Guess, Measure & Edit: Using Lowering to Lift Tensor Code<br>
          <i>José Wesley De Souza Magalhães (Universtiy of Edinburgh), Jackson Woodruff (Universtiy of Edinburgh), Jordi Armengol-Estapé (Universtiy of Edinburgh), Alexander Brauckmann (Universtiy of Edinburgh), Luc Jaulmes (Universtiy of Edinburgh), Elizabeth Polgreen (Universtiy of Edinburgh), and Michael O'Boyle (University of Edinburgh)</i>
      </li>
      <li>Automatic Generation of Actor-based Parallelism from Shared Memory Parallel Programs<br>
          <i>Jun Shirako (Georgia Institute of Technology) and Vivek Sarkar (Georgia Institute of Technology)</i>
      </li>
      <li>Automatic Code-Generation for Accelerating Structured-Mesh-Based Explicit Numerical Solvers on FPGAs<br>
          <i>Beniel Thileepan (Department of Computer Science, University of Warwick), Suhaib A Fahmy (King Abdullah University of Science and Technology (KAUST)), and Gihan R Mudalige (Department of Computer Science, University of Warwick)</i>
      </li>
    </ul>
  </td>
