  <td>
    <h3>Session 8: <a href="https://conferences.computer.org/pactpub25/#!/toc/0#NovelParallelArchitectures%26RuntimeMechanisms" target="_blank">Novel Parallel Architectures & Runtime Mechanisms</a></h3>
    <br>
    <b>Chair:</b> Jackson Woodruff, University of Edinburgh<br>
    <ul>
      <li><a href="https://conferences.computer.org/pactpub25/pdfs/PACT2025-3gKGRwA9U4f6t0U4gWpYze/829500a415/829500a415.pdf" target="_blank">A Stable Marriage Requires a Shared Residence with Low Contention and Mutual Complementarity</a><br>
          <i>Jiaxin Liu (The Ohio State University), Rubao Lee (Freelance), Cathy Xia (The Ohio State University), and Xiaodong Zhang (The Ohio State University)</i>
      </li>
      <li><a href="https://conferences.computer.org/pactpub25/pdfs/PACT2025-3gKGRwA9U4f6t0U4gWpYze/829500a430/829500a430.pdf" target="_blank">Optimize Winograd Convolution for a Novel MIMD Many-core Architecture PEZY-SC3s</a><br>
          <i>Yi Zhou (National University of Defense Technology), Qinglin Wang (National University of Defense Technology), Lian Wang (Shanxi Supercomputing Center), Zhiyan Liu (Shanxi Supercomputing Center), Bingwei Wang (Shanxi Supercomputing Center), Feiming Liu (Shanxi Supercomputing Center), Xiangdong Pei (Shanxi Supercomputing Center), and Jie Liu (National University of Defense Technology) (video presentation)</i>
      </li>
      <li><a href="https://conferences.computer.org/pactpub25/pdfs/PACT2025-3gKGRwA9U4f6t0U4gWpYze/829500a443/829500a443.pdf" target="_blank">CoroAMU: Unleashing Memory-Driven Coroutines through Latency-Aware Decoupled Operations</a><br>
          <i>Zhuolun Jiang (Institute of Computing Technology, Chinese Academy of Sciences), Songyue Wang (Institute of Computing Technology, Chinese Academy of Sciences), Xiaokun Pei (Institute of Computing Technology, Chinese Academy of Sciences), Tianyue Lu (Institute of Computing Technology, Chinese Academy of Sciences), and Mingyu Chen (Institute of Computing Technology, Chinese Academy of Sciences)</i>
      </li>
    </ul>
  </td>
