  <td>
    <b><a href="https://conferences.computer.org/pactpub25/#!/toc/0#Communication%2CProfiling%26MappingacrossCPU–GPUClusters" target="_blank">Session 7: Communication, Profiling & Mapping across CPU–GPU Clusters</a></b>
    <br>
    <ul>
      <li><a href="https://conferences.computer.org/pactpub25/pdfs/PACT2025-3gKGRwA9U4f6t0U4gWpYze/829500a400/829500a400.pdf" target="_blank">Generating Two-Level, GPU-Aware Mappings for Distributed Tensor Computations</a><br>
          <i>Botao Wu (The Ohio State University) and Martin Kong (The Ohio State University)</i>
      </li>
      <li><a href="https://conferences.computer.org/pactpub25/pdfs/PACT2025-3gKGRwA9U4f6t0U4gWpYze/829500a372/829500a372.pdf" target="_blank">GPU Stream-Aware Communication for Effective Pipelining</a><br>
          <i>Naveen Namashivayam (University of Minnesota at Twin Cities), Krishna Kandalla (Hewlett Packard Enterprise), Pen-Chung Yew (University of Minnesota at Twin Cities), James B White III (Hewlett Packard Enterprise), Larry Kaplan (Hewlett Packard Enterprise), and Mark Pagel (Hewlett Packard Enterprise)</i>
      </li>
      <li><a href="https://conferences.computer.org/pactpub25/pdfs/PACT2025-3gKGRwA9U4f6t0U4gWpYze/829500a385/829500a385.pdf" target="_blank">TPE: XPU-Point: Simulator-Agnostic Sample Selection Methodology for Heterogeneous CPU-GPU Applications</a><br>
          <i>Alen Sabu (Arm), Harish Patil (Intel), Wim Heirman (Intel), Changxi Liu (National University of Singapore), and Trevor E. Carlson (National University of Singapore)</i>
      </li>
    </ul>
  </td>
