  <td>
    <b>Session 6: <a href="https://conferences.computer.org/pactpub25/#!/toc/0#Edge&amp;MobileAISystems" target="_blank">Edge & Mobile AI Systems</a></b>
    <br>
    <b>Chair:</b> Youngsok Kim, Yonsei University<br>
    <ul>
      <li><a href="https://conferences.computer.org/pactpub25/pdfs/PACT2025-3gKGRwA9U4f6t0U4gWpYze/829500a320/829500a320.pdf" target="_blank">Hera: A Heterogeneity-Aware Multi-Tenant Inference Server for Personalized Recommendations</a><br>
          <i>Yujeong Choi (Google), John Kim (KAIST), and Minsoo Rhu (KAIST)</i>
      </li>
      <li><a href="https://conferences.computer.org/pactpub25/pdfs/PACT2025-3gKGRwA9U4f6t0U4gWpYze/829500a333/829500a333.pdf" target="_blank">Salient Store: Enabling Smart Storage for Continuous Learning Edge Servers</a><br>
          <i>Cyan Subhra Mishra (The Pennsylvania State University), Deeksha Chaudhary (The Pennsylvania State University), Mahmut T Kandemir (The Pennsylvania State University), and Chita Das (The Pennsylvania State University) (video presentation)</i>
      </li>
      <li><a href="https://conferences.computer.org/pactpub25/pdfs/PACT2025-3gKGRwA9U4f6t0U4gWpYze/829500a347/829500a347.pdf" target="_blank">Bit-Level Semantics: Scalable RAG Retrieval with Neurosymbolic Hyperdimensional Computing</a><br>
          <i>Hyunsei Lee (DGIST), Shinhyoung Jang (DGIST), Jaewoo Gwak (DGIST), Jongho Park (DGIST), and Yeseong Kim (DGIST)</i>
      </li>
      <li><a href="https://conferences.computer.org/pactpub25/pdfs/PACT2025-3gKGRwA9U4f6t0U4gWpYze/829500a359/829500a359.pdf" target="_blank">Optimizing 3D Gaussian Splattering for Mobile GPUs</a><br>
          <i>Md Musfiqur Rahman Sanim (University of Georgia), Zhihao Shu (University of Georgia), Bahram Afsharmanesh (University of Georgia), AmirAli Mirian (University of Georgia), Jiexiong Guan (William & Mary), Wei Niu (University of Georgia), Bin Ren (William & Mary), and Gagan Agrawal (University of Georgia)</i>
      </li>
    </ul>
  </td>
