  <td>
    <b>Session 2: Memory Systems & Caching</b>
    <br>
    <b>Chair:</b> Se-Min Lim, Kookmin University<br>
    <ul>
      <li>Exploring Memory Tiering Systems in the CXL Era via FPGA-based Emulation and Device-Side Management<br>
          <i>Yiqi Chen (Peking University), Xiping Dong (Peking University), Zhe Zhou (Peking University), Zhao Wang (Peking University), Jie Zhang (Peking University), and Guangyu Sun (Peking University)</i>
      </li>
      <li>CPC: Coordinated Page Cache for Serverless Computing<br>
          <i>Keun Soo Lim (Seoul National University), Yunjay Hong (Seoul National University), Jongheon Jeong (Seoul National University), Sam Son (UC Berkeley), Donguk Kim (Seoul National University), Yeonhong Park (Seoul National University), Jae W. Lee (Seoul National University), and Jinkyu Jeong (Yonsei University)</i>
      </li>
      <li>SCREME: A Scalable Framework for Resilient Memory Design<br>
          <i>Fan Li (University of Central Florida), Mimi Xie (University of Texas at San Antonio), Yanan Guo (University of Rochester), Huize Li (University of Central Florida), and Xin Xin (University of Central Florida)</i>
      </li>
      <li>Cache Miss Curve Analysis via Cardinality Domain<br>
          <i>Eishi Arima (Technical University of Munich) and Martin Schulz (Technical University of Munich)</i>
      </li>
      <li>EARTH: Efficient Architecture for RISC-V Vector Memory Access<br>
          <i>Hongyi Guan (Tsinghua University), Yichuan Gao (Intel Labs China), Chenlu Miao (Intel Labs China), Haoyang Wu (Intel Labs China), Hang Zhu (Independent Researcher), Mingfeng Lin (Shenzhen University), and Huayue Liang (Intel Labs China) (video presentation)</i>
      </li>
    </ul>
  </td>
