  <td>
    <b>Session 5: Specialized Accelerators</b>
    <br>
    <b>Chair:</b> Antonino Tumeo, <br>
    <ul>
      <li>FLASH: An Abstract Machine for Modeling Fully Homomorphic Encryption Accelerators<br>
          <i>Alireza Tabatabaeian (Simon Fraser University) and Arrvindh Shriraman (Simon Fraser University)</i>
      </li>
      <li>Energy-Efficient Acceleration of Hash-Based Post-Quantum Cryptographic Schemes on Embedded Spatial Architectures<br>
          <i>Yanze Wu (George Mason University) and Md Tanvir Arafin (George Mason University)</i>
      </li>
      <li>Fine-Grained Fusion: The Missing Piece in Area-Efficient State Space Model Acceleration<br>
          <i>Robin Geens (MICAS (KU Leuven)), Arne Symons (MICAS (KU Leuven)), and Marian Verhelst (MICAS (KU Leuven))</i>
      </li>
      <li>Squire: A General-Purpose Accelerator to Exploit Fine-Grain Parallelism on Dependency-Bound Kernels<br>
          <i>Rubén Langarita (Barcelona Supercomputing Center), Pablo Ibáñez-Marín (Universidad de Zaragoza), Jesús Alastruey-Benedé (Universidad de Zaragoza), Miquel Moreto (UPC/BSC), Santiago Marco-Sola (Universitat Politècnica de Catalunya - Barcelona Supercomputing Center), and Adrià Armejach (Barcelona Supercomputing Center)</i>
      </li>
      <li>Bancroft: Genomics Acceleration Beyond On-Device Memory<br>
          <i>Se-Min Lim (University of California, Irvine), Seongyoung Kang (University of California, Irvine), and Sang-Woo Jun (University of California, Irvine)</i>
      </li>
    </ul>
  </td>
